body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
}

canvas {
    margin-top: 50px;
    border: 2px solid white;
    background-color: black;
    display: black;
    margin-left: auto;
    margin-right: auto;
}